@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var rootContent = Umbraco.ContentAtRoot();
    var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();

    var siteName = siteSettings?.SiteName ?? "No site name";
    
    var content = (ContentModels.AboutSection)Model.Content;
}

<section class="flex col-mobile-tablet gap-lg py-xl">
    <div class="flex col gap-xs mi-auto">
        @if (content.AboutImage != null)
        {
            <img class="w-100" src="@content.AboutImage.Url()" alt="@content.AboutName" />
        }
        <p class="text-sm italic clr-primary center-text-mobile">@content.AboutName - @content.AboutRole at @siteName</p>
    </div>
    <div class="flex-1 flex col gap-sm text-xs">
        <q class="italic text-lg mb-sm center-text-mobile">@content.AboutQuote</q>
        @Html.Raw(content.AboutText)
    </div>
</section>
