@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ContactSection)Model.Content;
    var settings = Model.Settings as ContentModels.ContactSettings;
    var bgColor = settings?.ContactBgColor?.Color ?? "#FFFFFF";

    var rootContent = Umbraco.ContentAtRoot();
    var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();
    var contactAddress = siteSettings?.ContactAddress ?? "No address";
    var contactPhone = siteSettings?.ContactPhone ?? "No phone number";
    var contactEmail = siteSettings?.ContactEmail ?? "No email";
}

<section class="full-width pt-md" style="background-color: @bgColor;">
    <div class="flex align-center gap-xl">
        <div class="flex-basis-lg" style="background-image: url('/images/bg.svg'), url('/images/dot.svg'); background-repeat: no-repeat; background-position: left bottom, right 57px bottom;">
            @if (content.ContactImage != null)
            {
                <img src="@content.ContactImage.Url()" alt="Portrait of happy person in glasses" />
            }
        </div>
        <div class="flex col gap-md">
            <h2 class="secondary-heading">@content.ContactTitle</h2>
            <ul class="flex col gap-md">
                <li class="relative pl-sm-md flex col gap-xs">
                    <h3 class="clr-primary text-xs text-semi-bold flex align-center gap-xs"><i class="fa-solid fa-location-dot fa-lg clr-secondary absolute left"></i>Office location</h3>
                    <p class="text-xs">@contactAddress</p>
                </li>
                <li class="relative pl-sm-md flex col gap-xs">
                    <h3 class="clr-primary text-xs text-semi-bold flex align-center gap-xs"><i class="fa-solid fa-phone-flip fa-lg clr-secondary absolute left"></i>Phone number</h3>
                    <p class="text-xs">@contactPhone</p>
                </li>
                <li class="relative pl-sm-md flex col gap-xs">
                    <h3 class="clr-primary text-xs text-semi-bold flex align-center gap-xs"><i class="fa-solid fa-envelope fa-lg clr-secondary absolute left"></i>E-mail address</h3>
                    <p class="text-xs">@contactEmail</p>
                </li>
            </ul>
        </div>
    </div>
</section>
