@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ReviewSection)Model.Content;
}

<section class="full-width bgc-light align-center">
    <div class="py-lg pr-lg left pi-reset-mobile center-text-mobile">
        <h2 class="clr-secondary text-bold uppercase text-xs">@content.ReviewLabel</h2>
        <h3 class="secondary-heading mt-xs">@content.ReviewTitle</h3>
        <div class="italic text-lg clr-gray mt-md">@Html.Raw(content.ReviewText)</div>
        <ul class="flex justify-center-mobile mt-sm" aria-label="5 out of 5 stars">
            <li><i class="fa-solid fa-star fa-sm" aria-hidden="true"></i></li>
            <li><i class="fa-solid fa-star fa-sm" aria-hidden="true"></i></li>
            <li><i class="fa-solid fa-star fa-sm" aria-hidden="true"></i></li>
            <li><i class="fa-solid fa-star fa-sm" aria-hidden="true"></i></li>
            <li><i class="fa-solid fa-star fa-sm" aria-hidden="true"></i></li>
        </ul>
        <p class="text-xs mt-sm">@content.ReviewName</p>
        <p class="text-lg italic">@content.ReviewCompany</p>
    </div>

    @if (content.ReviewImage != null)
    {
        <img class="full-width-right w-100 h-100 cover pb-lg pb-reset-tablet-desktop" src="@content.ReviewImage.Url()" alt="@content.ReviewName" />
    }
</section>
