@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ServiceSection)Model.Content;
    var settings = Model.Settings as ContentModels.ServiceSettings;

    var bgColor = settings?.ServiceBgColor?.Color ?? "#FFFFFF";

    var current = Umbraco.AssignedContentItem;
    var siteRoot = current.Root();

    var servicePage = siteRoot.Children<ServicePage>()?.FirstOrDefault();
    var items = servicePage?.Children<ServiceDetail>()?.OrderByDescending(x => x.CreateDate).ToList() ?? [];
}

<section class="full-width center-text py-xl" style="background-color: @bgColor;">
    @if (settings!.ShowServiceLabel)
    {
        <h2 class="clr-secondary text-xs text-bold uppercase">@content.ServiceLabel</h2>
        <h3 class="secondary-heading mw-half mi-auto mt-xs">@content.ServiceTitle</h3>
        
        @if (items.Any())
        {
            <ol class="item-grid gap-md mt-md">
                @foreach (var item in items)
                {
                    <li class="bgc-lightest border text-left">
                        <a href="@item.Url()" aria-label="Read more about @item.Name">
                            <h4 class="quinary-heading py-sm-md px-md">@item.Name</h4>
                            <img class="w-100" src="@(item.ServiceDetailThumbnail?.Url() ?? "~/images/image-21-min 1.jpg")" alt="@item.Name" />
                            <p class="text-xs py-sm-md px-md">@item.ServiceDetailExcerpt</p>
                        </a>
                    </li>
                }
            </ol>
        }
        else
        {
            <p>No Services Available</p>
        }
    }
    else
    {
        <h2 class="secondary-heading mw-half mi-auto">@content.ServiceTitle</h2>

        @if (items.Any())
        {
            <ol class="item-grid gap-md mt-md">
                @foreach (var item in items)
                {
                    <li class="bgc-lightest border text-left">
                        <a href="@item.Url()" aria-label="Read more about @item.Name">
                            <h3 class="quinary-heading py-sm-md px-md">@item.Name</h3>
                            <img class="w-100" src="@(item.ServiceDetailThumbnail?.Url() ?? "~/images/image-21-min 1.jpg")" alt="@item.Name" />
                            <p class="text-xs py-sm-md px-md">@item.ServiceDetailExcerpt</p>
                        </a>
                    </li>
                }
            </ol>
        }
        else
        {
            <p>No Services Available</p>
        }
    }
</section>
